<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <title>Ebay tool</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"></link>
    <link rel="stylesheet" th:href="@{/css/main.css}" ></link>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"></link>
    <!-- Javascript -->
    <script tytpe="text/javascript" th:src="@{/js/lib/jquery.js}" />
    <script type="text/javascript" th:src="@{/js/lib/angular.js}" />
    <script type="text/javascript" th:src="@{/js/lib/materialize.js}" />

    <script type="text/javascript" th:src="@{/js/src/product-controller.js}" />
    <!-- Editable table -->
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <!-- you need to include the shieldui css and js assets in order for the grids to work -->
    <link rel="stylesheet" type="text/css" href="http://www.prepbootstrap.com/Content/shieldui-lite/dist/css/light/all.min.css" />
    <script type="text/javascript" src="http://www.prepbootstrap.com/Content/shieldui-lite/dist/js/shieldui-lite-all.min.js"></script>
    <script type="text/javascript" src="http://www.prepbootstrap.com/Content/data/shortGridData.js"></script>
    <script type="text/javascript">

</script>

</head>
<body>
    <div id="productPanel" class="container" ng-app="productApp" ng-controller="productController">
        <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="text-center">Product<span class="fa fa-edit pull-right bigicon"></span></h4>
            </div>
            <div class="panel-body text-center">
                <div id="grid"></div>
            </div>
        </div>
    </div>
    </div>
</body>
</html>